.nav {
  width: 100vw;
  height: 50px;
  text-align: right;
  padding-top: 20px;
  position: relative;
}

.badges{
  cursor: pointer;
}

/* 기본 버튼 디자인 */

.dark-btn {
  width: 78px;
  position: absolute;
  right: 20px;
  transition: all 0.3s;
  border: 1px solid #f8f9fa;
}


.white-btn {
  width: 78px;
  text-align: right;
  position: absolute;
  right: 20px;
  transition: all 0.3s;
  border: 1px solid #f8f9fa;
}

/* 버튼 클릭시 추가되는 class */
.move-btn {
  width: 78px;
  position: absolute;
  right: 50px;
  transition: all 0.3s;
  border: 1px solid #f8f9fa;
}

.darkMode {
  background-color: #212529;
  color: white;
  }