.wrap {
  margin-top: 60px;
  text-align: center;
}

.wrap h1 {
  font-family: 'SBAggroB';
  font-size: 70px;
  margin-bottom: 40px;
  margin-top: 80px;
}

.wrap p {
  font-size: 30px;
  letter-spacing: 0.3px;
  margin-bottom: 30px;
}

button {
  width: 120px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #212529;
  color: black;
  font-weight: 600;
  background-color: white;
  margin: 40px 10px 0 10px;
  transition: all 0.3s;
}

button:hover {
  background-color: #212529;
  color: white;
}