
/* 게임방법 모달창 */
.box {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  padding-top: 10px;
  width: 90%;
  max-width: 480px;
  text-align: center;
  border: #212529 1px solid;
  border-radius: 5px;

  h1 {
    font-family: 'SBAggroB';
    padding-top: 10px;
    padding-bottom: 20px;
  }

  p {
    line-height : 1.6;
    margin-bottom: 30px;
  }

  span {
    font-size: 14px;
  }

  button{
    margin-bottom: 60px;
    margin-top: 20px;
    width: 140px;
    height: 40px;
    background-color: #212529;
    color: white;
    border-radius: 5px;
    border: none;
  }
}

.close {
  font-size: 23px;
  text-align: right;
  margin-right: 20px;
  cursor: pointer;
}










