@font-face {
  font-family: 'SBAggroB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.title {
  font-size: 60px;
  text-align: center;
  font-family: 'SBAggroB';
  margin-top: 120px;
  margin-bottom: 90px;
}

.btn-container {
  text-align: center;
}

.btn {
  width: 120px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #212529;
  color: black;
  font-weight: 600;
  background-color: white;
  margin: 0 15px 0 15px;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #212529;
  color: white;
}

@media (max-width: 767px) {
  .title {
    font-size: 45px;
  }
}